{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #333333;
        margin: 0;
    }

    h1{
        color:blue;
    }
</style>


<div class="">
    <h1>Vue page d'accueil! ✅</h1>

{% endblock %}
