{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="accueil--body">

    <h2> Ecrivez un tweet </h2>

   <form action="{{ path('message_new') }}" method="post">
        <input type="text" id="message" name="message" placeholder="Ecrivez votre msg..">
        <input type="submit" value="Envoyer">
   </form>

   <br />

        <div class="accueil--messages"> 
        
        {% for entity in entities %}
        <div class="tweet">
        {{ entity.id }}: {{ entity.content }}<br>
        </div>
        
        {% endfor %}

   
    
    
    </div>
</div>
{% endblock %}
