
<form method="get">
    <label for="city">Ville:</label>
    <input type="text" name="city" id="city" required>
    <button type="submit">Valider</button>
</form>

<p>La température à {{ weatherData.name }} est de
{{ weatherData.main.temp }}°C.</p>

