
<form method="get">
    <label for="city">Ville:</label>
    <input type="text" name="city" id="city" required>
    <button type="submit">Valider</button>
</form>


{% if weatherData.name != null %}
    <p>La température à {{ weatherData.name }} est de
{{ weatherData.main.temp }}°C.</p>
{% else %}
    <p>Entrez une ville</p>
{% endif %}
